@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
    background-color: #314448;
}

.mainF{
    position: absolute;
    width: 542px;
    height: 648px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.cub{
    box-sizing: border-box;

    position: absolute;
    width: 542px;
    height: 574px;
    left: 0px;
    top: 0px;

    background: #E0DAB8;
    border: 5px solid #000000;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
}

.reset{
    position: absolute;
    width: 391px;
    height: 149px;
    left: 75px;
    top: 499px;

    filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.25));
    background: #7C9A92;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #000000;

    border: 3px solid #000000;
}

.divEmail{
    position: absolute;
    width: 391px;
    height: 184px;
    left: 75px;
    top: 76px;
}

.emailFM{
    position: absolute;
    width: 161px;
    height: 77px;
    left: 115px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #000000;

}

.emailF{
    position: absolute;
    width: 391px;
    height: 69px;
    left: 0px;
    top: 100px;

    background: #C5C5C5;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 158px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 77px;

    color: #000000;

}

.divPassword{
    position: absolute;
    width: 444px;
    height: 175px;
    left: 49px;
    top: 278px;

}

.NewF{
    position: absolute;
    width: 454px;
    height: 77px;
    left: -2px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #000000;
}

.passwordF{
    position: absolute;
    width: 391px;
    height: 69px;
    left: 27px;
    top: 92px;

    background: #C5C5C5;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 158px;

    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 77px;

    color: #000000;
}

@media only  screen and (max-width: 750px) {
    .NewF{
        left: 20px;
        font-size: 55px;

    }
}