@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.topTextN{
    position: absolute;
    width: 600px;
    height: 77px;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    font-family: 'Inter';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;


    color: #000000;

    text-shadow: -5px 10px 4px rgba(0, 0, 0, 0.25);
}

.buttonIconPlusN{
    position: absolute;
    width: 361px;
    height: 78px;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    background: #E0DAB8;
    border: 6px solid #000000;
    box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.25);


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 77px;

    color: #000000;

    text-shadow: -5px 10px 4px rgba(0, 0, 0, 0.25);
}
.postT{
    position: absolute;
    width: 202px;
    height: 115px;

    top: 1px;
    left: 50%;

    transform: translate(-50%,0%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;

    color: #000000;
}

.postText{
    box-sizing: border-box;

    position: absolute;
    width: 601px;
    height: 295px;

    top: 10%;
    left: 50%;

    transform: translate(-50%,0%);

    background: #D9D9D9;
    border: 6px solid #000000;
    border-radius: 120px;
}

.textareaText{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 220px;
    width: 510px;
    background: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);

    transform: translate(-50%,-50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.postImg{
    position: absolute;
    width: 601px;
    height: 445px;
    top: 70%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.postImgBac{
    box-sizing: border-box;

    position: absolute;
    width: 601px;
    height: 295px;
    left: 0px;
    top: 150px;

    background: #D9D9D9;
    border: 6px solid #000000;
    border-radius: 120px;
}

.postImgBacImg{
    position: absolute;
    width: 590px;
    height: 280px;
    left: 0px;
    top: 0px;
    border-radius: 120px;
}

.postImgButton {
     box-sizing: border-box;

     position: absolute;
     width: 93px;
     height: 93px;
     top: 50%;
     left: 50%;

     transform: translate(-50%,-50%);
     background: #E0DAB8;
     border: 6px solid #000000;



     color: #E0DAB8;
 }

@media only  screen and (max-width: 750px) {
    .topTextN{
        width: 360px;
        height: 77px;

        font-size: 40px;
    }

    .postText{


        position: absolute;
        width: 380px;
        height: 295px;

        top: 10%;
        left: 50%;

        transform: translate(-50%,0%);

        background: #D9D9D9;
        border: 6px solid #000000;
        border-radius: 120px;
    }

    .textareaText{
        position: absolute;
        top: 55%;
        left: 50%;
        height: 220px;
        width: 350px;

        font-size: 25px;
    }

    .postImg{
        position: absolute;
        width: 380px;
        height: 295px;

        top: 50%;
        left: 50%;

        transform: translate(-50%,-50%);
    }


    .postImgBac{
        box-sizing: border-box;

        position: absolute;
        width: 380px;
        height: 295px;
        left: 0px;
        top: 150px;

        background: #D9D9D9;
        border: 6px solid #000000;
        border-radius: 120px;
    }

    .postImgBacImg{
        position: absolute;
        width: 370px;
        height: 283px;
        left: -1px;
        top: 0px;
        border-radius: 120px;
    }

    .buttonIconPlusN{
        position: absolute;
        width: 120px;
        height: 78px;
        top: 50%;
        left: 50%;

        transform: translate(-50%,-50%);

        font-size: 18px;
    }
}