@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.CurrentC{
    position: absolute;
    width: 542px;
    height: 184px;
    left: 50%;
    top: 20%;

    transform: translate(-50%,-50%);
}

.NewC{
    position: absolute;
    width: 542px;
    height: 184px;
    left: 50%;
    top: 70%;

    transform: translate(-50%,-50%);
}

@media only  screen and (max-width: 750px) {
    .centreChangeI{
        position: absolute;
        width: 391px;
        height: 69px;
        top: 115px;
        left: 50%;

        transform: translate(-50%,-0%);

    }

    .NewC{
        position: absolute;
        width: 300px;
        height: 184px;
        left: 50%;
        top: 55%;

        transform: translate(-50%,-50%);
    }

    .CurrentC{
        position: absolute;
        width: 300px;
        height: 184px;
        left: 50%;
        top: 20%;

        transform: translate(-50%,-50%);
    }
}